.ui-dialog .ib-dam-browser-dialog.ui-widget-content.ui-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
}
.ib-dam-app-wrapper {
  position: relative;
  width: 100%;
  min-height: calc(0.8*100vh);
  overflow:hidden;
}
.ib-dam-browser-form .form-item--ib-dam-app-el {
  margin: 0;
  padding: 0;
}
.ib-dam-wysiwyg-form {
  position: relative;
  height: 800px;
}

.ib-dam-app-browser {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ib-dam-browser__widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
